<!-- <p>Hey rajdip , i'm here today</p> -->
<header>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/profile" class="logo">Profile</a>
                    <a href="#" routerLink="/home" class="logo">Home</a>
                </li>
            </ul>
        </nav>
        <app-search></app-search>
        <nav>
            <ul>
                <li>
                    <a routerLink="/cart-page/">Cart</a>
                    <a routerLink="//">Log out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>