<app-header></app-header>
<div class="container">
    <div class="profile-container">
        <div class="profile-header">
            <h1>User Profile</h1>
        </div>
        <div class="user-details">
            <h2>User Details</h2>
            <div class="user-details-content">
                <div class="user-avatar">
                    <img src="/assets/userImage.jpg" alt="User Avatar">
                </div>
                <div class="user-info">
                    <p><strong>Name :</strong> Rajdip Pal</p>
                    <p><strong>Email :</strong> rajdippal10@gmail.com</p>
                    <!-- Add more user details as needed -->
                </div>
            </div>
        </div>
        <div class="order-history">
            <h2>Order History</h2>
            <ul class="order-list">
                <li>
                    <div class="order-item">
                        <p><strong>Order Number:</strong> #972377836759</p>
                        <p><strong>Date:</strong> Oct 15, 2023</p>
                        <p><strong>Total Amount:</strong>  ₹14999</p>
                    </div>
                    <!-- Add more order details as needed -->
                </li>
                <li>
                    <!-- Another order item -->
                </li>
            </ul>
        </div>
        <div class="saved-items">
            <h2>Last Purchased Item</h2>
            <div class="saved-items-grid">
                <div class="product-card">
                    
                    <img src="/assets/react.jpg" alt="Product 1">
                    <h3>React Course</h3>
                    <p> ₹14999</p>
                    <button>Buy again</button>
                </div>
                <!-- Add more saved items as needed -->
            </div>
        </div>
    </div>
</div>