ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
   
}
.names{
    margin: .8rem;
    display: flex;
    background: linear-gradient(to right, #a7a7a7, rgb(238, 139, 139),rgb(255, 31, 31)); 
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
    font-weight: bold;
    font-size: 1.5rem;
}

ul li img{
    height: 21rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    margin:0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #f41d1d;
    transition: transform 0.2s;
}
 ul li .names:hover{
    cursor: pointer;
    opacity: 0.9;
    /* transform: scale(1.07);
    transition: transform 0.3s;  */
    overflow: hidden;
}
.pictures:hover{
    transform: scale(1.07);
    transition: transform 0.3s;
    overflow: hidden;
}
.content{
    padding: .5rem 1rem;
    position: relative;
}
.favorite {
    position: absolute;
    top:0.5rem;
    right: 1rem;
    font-size: 1.2rem;
}
.product-time-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.origins{
    flex: 9;
}
.origins span{
    border-radius: 2rem;
    /* background-color: whitesmoke; */
    color: rgb(12, 6, 6);
    font-size: 1.1rem;
    margin-right: .3rem;
    display: inline-block;
    align-items: center;
    text-shadow: 4px 4px 4px #fdfafa;
}
.cook-time-container{
    position: absolute;
    top:2.5rem;
    right: 1rem;
    font-size: 1.2rem;
}
.price{
    color: #000000;
    margin-top: .3rem;
    font-weight: bold;
}
ul{
    color: #f41d1d;
    font-weight: bold;
}
footer {
	color: #ffffff;
	background-color: rgba(66, 66, 66, 0.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
	padding: 50px 0; 
    font-weight: bold;
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}
footer .social-media img{
	width: 22px;
}
footer .logo {
	width: 180px;
	color: #fff;
}
footer .social-media a{
	margin-right: 10px;
	font-size: 22px;
	text-decoration: none;
}
footer .right-col h1{
	font-size: 26px;
}
footer .border{
	width: 100px;
	height: 4px;
	background: linear-gradient(to right, #FA4B37, #e5e5e5);
	margin: 2px;
}
footer .newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer input::placeholder {
  color: rgb(255, 0, 0) !important;
}
footer .txtb {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	background: #dfe1e3;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	min-width: 260px;
	margin-top: 20px;
	color: rgb(5, 5, 5);
}
footer .btn {
	margin-top: 20px;
	padding: 18px 40px;
	font-size: 16px;
	color: #f1f1f1;
	background: #f41d1d ;
	border: none;
	font-weight: 700;
	outline: none;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;	
}
footer .btn:hover {
	background-color: #a7a7a7;
    cursor: pointer;
    color: #f41d1d;
}