<!-- <p>food-page works!</p> -->
<app-header></app-header>
<app-not-found [visible]="!food" notFoundMessage="Product not found !!"
    resetLinkText="Back to Home page"></app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.imageUrl" alt="food.name">

    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
            <span class="favorite {{food.favorite?'':'not'}}">
                ❤️
            </span>

        </div>
        <div class="origins">
            <span *ngFor="let origins of food.origins">{{origins}}</span>
        </div>
        <div class="tags">
            <app-tags [foodPagetags]="food.tags" justifyContent="start"></app-tags>
        </div>
        <div class="cook-Time">
            <span>
                delivery within <strong>{{food.cookTime}}</strong> minutes
            </span>
        </div>
        <div class="price">
            <strong>{{food.price|currency:'INR'}}</strong>
        </div>
        <button (click)="addToCart()">Add to Cart</button>
    </div>
</div>